{erl_opts, [debug_info]}.
{cover_enabled, true}.

{deps, [
        {cre,      "0.1.2"},
        {effi,     "0.1.4"},
        {getopt,   "1.0.1"},
        {lib_conf, "0.1.4"}
       ]}.

{escript_incl_apps, [cre, effi, gen_pnet, getopt, jsone, lib_combin,
                     lib_conf]}.
                     
{escript_emu_args, "%%! -connect_all false -sname cf_worker\n"}.

{dialyzer, [{plt_extra_apps, [cre]}]}.