{erl_opts, [debug_info]}.

{deps, [
        {cre, {git, "https://github.com/joergen7/cre.git", {branch, "dev"}}},
        {lib_conf, "0.1.2"},
        {getopt,   "1.0.1"}
       ]}.

{escript_incl_apps, [cre, gen_pnet, getopt, lib_combin, lib_conf]}.
{escript_emu_args, "%%! -connect_all false -sname cf_worker\n"}.
