{erl_opts, [debug_info]}.

{deps, [{cre, {git, "https://github.com/joergen7/cre.git", {branch, "master"}}},
        {effi, {git, "https://github.com/joergen7/effi.git", {branch, "master"}}},
        {lib_conf, {git, "https://github.com/joergen7/lib_conf.git", {branch, "master"}}},
        {getopt, "1.0.3"}]}.

{escript_incl_apps, [cre, effi, gen_pnet, getopt, jsone, lib_combin,
                     lib_conf]}.
{escript_emu_args, "%%! -escript main cf_worker -connect_all false -sname cfl_wrk\n"}.
{escript_name, "cfl_wrk"}.

{profiles,
 [{test, [{cover_enabled, true}]}]}.

{dialyzer, [{warnings, [unmatched_returns,
                        error_handling,
                        underspecs]},
            {plt_extra_apps, [lib_conf, cre, effi, getopt]}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{project_plugins, [rebar3_efmt]}.
